{% extends "base.html" %}

{% block content %}
<div id = "" class = "span8" style="margin: 13px 0 0;">
	{% for content in page_content %}
		{{ content.content | safe }}
	{% endfor %}


	<div class = "container span8" style = "margin-left: 0;">
		<hr />
		<h1> Who we are </h1>
		<hr />
			{% for a in about %}
				<div class = "span4" style = "margin: 0 13px 30px 0;">
					<h3> {{ a.name }} </h3>
					<hr />

					<img src ="/static/{{ a.bios_photo }}" width = "200" />

					<div class="">
						{{ a.bios }}
					</div>
				</div>

			{% endfor %}
	</div>
</div>
{% endblock %}