{% extends "base.html" %}

{% block content %}
  {% if success %}
    <h1>
      Thank You we have recieved your response
    </h1>
    <hr />

  {% else %}
    <h1>
      Contact Us
    </h1>
    <hr />

    <div class="container">
      <form action="" method="POST" id="contactForm">{% csrf_token %}
        {% for field in form %}
          <div class="span4">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <div class="alert alert-error">
                {{ field.errors }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="span8">
          <input type = "submit" value="Send" />
        </div>
      </form>
    </div>

    <script type="text/javascript">
      $().ready(function(){
        $("#contactForm").validate()
      });
    </script>

  {% endif %}

{% endblock %}