{% load base_extras %}

{% block navigation %}

 <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a style="margin: 5px;" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li class="">
            <a class="{% navactive request 'home' %}" href="/">Home</a>
          </li>
          <li class="">
            <a class="{% navactive request 'blog' %}" href="/blog">Blog</a>
          </li>
          <li class="">
            <a class="{% navactive request 'about' %}" href="/about">About us</a>
          </li>
          {% if registration.enabled  %}
            <li class="">
              <a class="{% navactive request 'registration' %}" href="/registration">Registration open</a>
            </li>
          {% else %}
            <li class="">
              <a class="{% navactive request 'registration' %}" href="/registration">Registration closed</a>
            </li>
          {% endif %}
          <li class="">
            <a class="{% navactive request 'resources' %}" href="/resources">Resources</a>
          </li>
          <li class="">
            <a class="{% navactive request 'course' %}" href="/course">Course schedule</a>
          </li>
          <li class="">
            <a class="{% navactive request 'sponsor_us' %}" href="/sponsor_us">Sponsor us</a>
          </li>
          <li class="">
            <a class="{% navactive request 'contact' %}" href="/contact">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 </div>

{% endblock %}