{% extends "base.html" %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block content %}

  <a href="{{ announcement.slug }}">
    <h1 style="margin: 13px 0 0;">{{ announcement.title }}</h1>
  </a>

  <hr />

  <ul class="unstyled" style="margin: 0 0 0;">
    <li>
      <p class="muted text-left">
        <small>Created on {{ announcement.pub_date }}</small>
      </p>

      {{ announcement.body|safe }}

    </li>
  </ul>

  <hr />


  <ul class="pager">
    <li class="previous active">
      <a href="/announcements/page{{ page_number }}">&larr; Back</a>
    </li>
  </ul>

{% endblock %}