{% extends "base.html" %}

{% block title %}
  Umonya Blog &#124; Hello World {% if blog_post %} - {{ blog_post.title }} {% endif %}
{% endblock %}

{% block content %}

  {% if blog_post %}

    <h1>{{ blog_post.title }}</h1>

    <hr />

    <ul class="unstyled">
      <li>
        <p style="margin: 0 0 0;" class="muted text-left">
          <small>Created on {{ blog_post.pub_date }}</small>
        </p>

        {{ blog_post.body|safe }}

      </li>
      <hr />
    </ul>

    <div class="span8">
      <ul class="pager">
        <li class="previous active">
          <a href="/blog/page{{ page_number }}">&larr; Back</a>
        </li>
      </ul>
    </div>

  {% endif %}

{%endblock%}

{%block categories%}

  <h3>Categories</h3>

  {% if blog_categories %}

    <ul>

      {% for category in blog_categories %}

          <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>

      {% endfor %}

    </ul>

  {% else %}

    <p>There are no categories.</p>

  {% endif %}

{%endblock%}