{% extends "base.html" %}
{% load staticfiles %}
{% block slideshow %}
{% endblock %}

{% block content %}

<h1>Announcements</h1>
<hr />

{% if announcements %}

  <ul class="unstyled">

    {% for announcement in announcements %}

      <li>
        <a href="{{ path }}{{ page_number }}{{ announcement.slug }}">
              <h2 style="margin: 13px 0 0;">{{ announcement.title }}</h2></a>
          <p style="margin: 0 0 0;" class="muted text-left">
              <small>Created on {{ announcement.pub_date }}</small>
          </p>

          {{ announcement.body|safe }}

      </li>
        <hr />

    {% endfor %}

  </ul>

{% else %}

  <p>There are no posts.</p>

{% endif %}

<div class="container span8">
  <ul class="pager">
    <li
      {% if page_number == total_pages %}
        class="previous disabled" >
        <a href="#">
      {% else %}
        class="previous active">
        <a href="{{ next }}">
      {% endif %}
        &larr; Older</a>
    </li>
    <li
      {% if page_number == 1 %}
        class="next disabled">
        <a href="#">
      {% else %}
        class="next active">
        <a href="{{ prev }}">
      {% endif %}
        Newer &rarr;</a>
    </li>
  </ul>
</div>

{% endblock %}