{% extends "base.html" %}


{% block title %}{{ announcement.title }}{% endblock %}


{% block content %}

  <div class="span8">

  <a href="{{ page_number }}{{ announcement.slug }}">
    <h1>{{ announcement.title }}</h1></a>
  <hr />

  <ul>
    <li>
      <p class="muted text-left">
        <small>Created on {{ announcement.pub_date }}</small>
      </p>
      <p>
        {{ announcement.body|safe}}
      </p>
    </li>
  </ul>

  </div>

  <div class="containter span8">
    <ul class="pager">
      <li class="previous active">
        <a href="page{{ page_number }}">&larr; Back</a>
      </li>
    </ul>
  </div>

{% endblock %}